[Unit]
Description=Gunicorn instance to serve employee_learning
After=network.target

[Service]
User=your-user
Group=www-data
WorkingDirectory=/home/your-user/employee_learning
ExecStart=/home/your-user/employee_learning/venv/bin/gunicorn --workers 3 --bind unix:/home/your-user/employee_learning/employee_learning.sock employee_learning.wsgi:application

[Install]
WantedBy=multi-user.target
